.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px;
  background-color: #fff;
}

.product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.product-image {
  text-align: center;
}

.main-image {
  width: 120px;
  height: auto;
  border-radius: 5px;
}

.product-details {
  text-align: center;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-price {
  font-size: 16px;
  color: #2b8a3e;
}

.quantity-control {
  display: flex;
  gap: 10px;
  align-items: center;
}

.quantity-control input {
  width: 50px;
  text-align: center;
}
.btn {
  margin: 20px;
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn:hover {
  background-color: #2ecc71;
  color: #fff;
  border-color: #27ae60;
}

