<div class="container">
  <div class="product-image">
    <img [src]="product.thumbnail" alt="Airpods Max">
    <div >

      @for (item of product.images; track $index) {
        <img [src]="item" alt="Airpods Max" width="100" height="100" >
        <br>
      }
    </div>
  </div>

  <div class="product-details">
    <div class="product-title">{{product.title}}</div>
    <div class="product-description">
      {{product.description}}
    </div>
    <div class="product-rating"> rating ({{product.rating}})</div>
    <div class="product-price">{{product.price|currency:'EGP'}}</div>

    @if (product.stock >0) {
    <div class="stock-status">In Stock</div>
    }@else {
      <div class="stock-status">Out of Stock</div>
    }

    <div class="product-buttons">

      <div class="quantity-control">
        <button (click)="decreaseCounter()">-</button>
        <input type="text" value={{counter}} min="1" disabled style="font-weight: bold; color:black">
        <button (click)="increaseCounter()">+</button>
      </div>

      <button class="buy-now">Buy Now</button>
      <button class="add-to-cart" (click)="handleAddTOCard(product.id)">Add to Cart</button>
    </div>

    <div class="limited-stock">Only {{product.stock}} items left! Don't miss it.</div>
  </div>
</div>
