<footer>
<div class="f">
  <h2>GET IN TOUCH</h2>
  <button class="button">CONTACT ME</button>
  <div class="contact">
  <div>
    <div><a id="fb" href="https://github.com/rahma282"><i id="fG" class="fab fa-github"></i></a></div>
  </div>
  <div>
    <div><a id="fb" href="https://www.facebook.com/share/18UyRt7oRw/?mibextid=wwXIfr"><i id="f" class="fa fa-envelope"></i></a></div>
  </div>
  <div>
    <div><a id="fb" href="https://www.linkedin.com/in/rahma-mostafaa/"><i id="fbIcon" class="fab fa-linkedin"></i></a></div>
  </div>
  <div>
   <i id="mobile" class="fa fa-mobile" aria-hidden="true">02202222</i>
  </div>
</div>
</div>
</footer>
