<div class="about">
  <section class="left-section">
    <h2>About me</h2>
  </section>

  <section class="right-section">
    <p>
      I am Rahma Mostafa, a 23-year-old graduate from the Faculty of Disability Sciences and Rehabilitation, Zagazig University, Class of 2023. While my academic background focused on disability sciences, my passion for technology led me to make a bold career shift in 2023 toward computer science. To solidify my technical foundation, I joined the prestigious ITI 9-Month Scholarship in Open Source Application Development 2024.
      Through this intensive program, I gained hands-on experience and a deep understanding of software development principles. I have developed strong programming skills in Java, C, and C++, enabling me to create efficient and scalable solutions. Additionally, my proficiency in HTML , CSS ang JavaScript allows me to build user-friendly and responsive web interfaces.
      I am deeply committed to continuous learning and personal growth in the tech field. My multidisciplinary background equips me with a unique perspective, combining analytical thinking with empathy for users' needs. I thrive on solving complex problems and am eager to contribute to innovative projects that make a meaningful impact.
      I am currently exploring opportunities where I can apply my technical skills, creativity, and passion for technology. Whether it's developing software applications, contributing to open-source projects, or collaborating with a dynamic team, I am ready to take on new challenges in the tech industry.
    </p>
    <div>
    <a href="assets/resume/Rahma_Mostafa_Resume.pdf" download="Rahma_Mostafa_Resume" class="download-btn">
      <button>Download Resume</button>
    </a>
  </div>
  </section>
</div>
