input {
  padding: 5px;
  margin-right: 5px;
  width: 500px;
}
.input {
  padding: 10px;
  margin: 10px ;
  width: 550px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #bcd9db;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #a1a1a1;
  border-radius: 4px;
  box-sizing: border-box;
  font-style: italic;
  font-size: medium;
  color: crimson;
  font-weight: bold;
}

button:hover {
  background-color: #1f2e3d;
}
hr{
  border:1px solid brown;
}
h3{
  margin: 0 0 10px 0;
  text-align: left;
}
