<div class="card h-100 text-center p-3" style="border: 1px solid #ccc; border-radius: 10px; ">
  <img [src]="product.images[0]" class="card-img-top mx-auto"
       style="border-radius: 2px; border: 2px solid #b4a3a3; width: 150px; height: 150px;"
       alt="product Image" />
  <div class="card-body">
    <p class="card-title"
    [ngStyle]="{'background-color': product.stock === 0 ? 'red' : 'green', 'border-radius': '15px', 'padding': '5px', 'color': 'white'}">
      {{product.availabilityStatus}}
    </p>
    <p class="card-text" style="font-weight: bold; display: flex; flex-direction: column; min-height: 50px;">{{product.title}}</p>
    <p class="card-text" style="font-weight: bold;">{{product.price |currency:'EGP'}}</p>
    <p class="card-text" style="font-weight: bold;">Rating: {{product.rating}}</p>
    <button type="button" class="btn btn-outline-success" style="border: 1px solid black; border-radius: 15px; color: black; margin: 10px;"  onmouseover="this.style.color='white';" onmouseout="this.style.color='black';"  (click)="handleAddTOCard(product.id)">Add to card</button>
    <button type="button" class="btn btn-outline-light" style="border: 1px solid black; border-radius: 15px; color: black;"(click)="handleRedirect(product.id)">See More Details</button>
  </div>
</div>

